<header th:fragment="headerFragment"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/springsecurity">
    <div class="outer">
        <div class="items">
            <a th:href="@{/}">
                <img class="gov-gr-logo" th:src="@{/img/gov_header_logo.svg}"
                     alt="Government Logo">
            </a>
            <span class="title">Coding Factory - Education Reinvented</span>
        </div>
<!--        <div class="login-name">-->
<!--            <span sec:authorize="isAuthenticated()" th:text="${#authentication.name}"></span>-->

<!--            <form sec:authorize="isAuthenticated()"-->
<!--                  th:action="@{/logout}"-->
<!--                  method="post"-->
<!--                  style="display: inline"-->
<!--            >-->
<!--                <button type="submit" class="log-out" style="background: none; border: none; padding: 0; cursor: pointer">-->
<!--                    Έξοδος-->
<!--                </button>-->
<!--            </form>-->
<!--&lt;!&ndash;            <a class="log-out" sec:authorize="isAuthenticated()" th:href="@{/logout}" >Έξοδος</a>&ndash;&gt;-->
<!--        </div>-->
    </div>
    <div class="line"></div>
</header>
